.inputeButton {
    text-align: center;

}
p {
    color: black;
    text-align: center;
    font-family: 'Orbitron', sans-serif;
    font-size: 250%;
    font-weight: 900;
    font-weight: bold;
}
button{
    color: white;
    background-color: cadetblue;
}
.duvidaS{
    position: fixed;
    left: 72%;
}
.duvidaS2{
    position: fixed;
    left:82%;
}
input[placeholder] {
    text-align: center;
 }
 input{
    border:1px solid black;
    outline:none;
}
input.ng-invalid{
    border-color:red;
}