   <form class="inputeButton"> 
    <div class="duvidaS"><a title="Digite uma senha no espaço abaixo, a qual você vai usar para realizar o login" data-toggle="popover" data-trigger="hover" data-content="">❔</a></div>   
   
        <form (ngSubmit)="onSubmit()" #loginForm="ngForm"> 
  <p>Senha:</p>
  <br>
  <div class="form-group">
      <label for="name">Senha</label>
      <input type="password" class="form-control" id="password"
             required
             [(ngModel)]="model.password" name="password"
             #password="ngModel">
      <div [hidden]="password.valid || password.pristine"
           class="alert alert-danger">
        Por favor escreva uma senha
      </div> 
    </div>
    <div class="form-group">
      <label for="name">Confirme a senha</label>
      <input type="password" class="form-control" id="confirmPassword"
             required
             validateEqual="password"
             [(ngModel)]="model.confirmPassword" name="confirmPassword"
             #confirmPassword="ngModel">
      <div [hidden]="confirmPassword.valid || confirmPassword.pristine"
           class="alert alert-danger">
           A senha não é igual a primeira
      </div>
    </div>
  </form>
<br>
  <button type="button" class="btn btn-primary btn-lg bt"
  (click)="submitLogin()"z>Confirmar</button>
  
  </form>


  