*{
    font-family: 'Lato', sans-serif;
}

#text {
    position: relative;
    font-family: 'Lato', sans-serif;
    text-align: center;
    color: black;
    
}

#datetime {
    border-top-left-radius: 1vh;
    border-top-right-radius: 1vh;
    /* text-align: center; */
    /* border: 1px solid #ccc;  */
    background: #157fdb;
    margin: 0 auto;
    width: 45vh;
    padding: 2px;
}

#date {
    box-shadow: 1px 2px 5px black;
    /* border-radius: 5px; */
    /* border: 2px solid #ccc; */
    background: rgba(245, 245, 245, 0.3);
    text-align: center;
    padding-top: 5vh;
    margin-top: 5vh;
    margin: 0 auto;
    width: 50vh;
    height: 35vh;
    /* padding: 2px; */
}

#edit {
    
    box-shadow: 1px 2px 5px black;


    /* border-radius: 5px; */
    /* border: 2px solid #ccc; */
    background: whitesmoke;
    margin: 0 auto;
    text-align: center;
    width: 50vh;
    height: 35vh;
}

#button {
    position: absolute;
    right: 50%;
    background-color: #419604;
    border-radius: 5px;
    padding: 15px 32px;
    text-align: center;
}

#button2 {
    position: absolute;
    right: 40%;
    background-color: #9e0000;
    border-radius: 5px;
    padding: 15px 32px;
    text-align: center;
}

.item1 {
    left: 3;
    margin: 1%;

}

.item2 {
    right: 0;
    margin: 53%;

}

.items {
    font-size: 6vh;
    /* margin-top: 5vh; */

}

.entry {
}

.all {
    margin: 20px;
}

.all:last-child {
    margin-bottom: 100px;
}