<div *ngIf="erro" style="text-align: center; width: 100vw; max-width: 100%;">
	Favor inicie a sessão para acessar esta página
</div>

<div *ngIf="!erro">
<div id="text">
  <h4>Agendamentos</h4>
</div>
<div class="all" *ngFor="let consulta of consultas">

	<div class="entry">	
		<section id="date">
		  <div class="items" style=" margin-top: 5vh;" >{{ consulta.data }}</div>
		  <div class="items">{{ consulta.hora }}</div>
		  <div class="items">{{ consulta.procedimento }}</div>
		</section>
	</div>			
  
</div>
</div>