.dark-modal .modal-content {
    background-color: #292b2c;
    color: white;
  }
  
.dark-modal .close {
    color: white;
  }

.light-blue-backdrop {
    background-color: #5cb3fd;
  }

.modal-body{
  text-align:center;
  font-family: Arial, Helvetica, sans-serif;
  }
    
h1{
  color: #000000;
  font-family: 'Dosis', sans-serif;
  font-size: 3.75rem;
  }
    
#proc{
  color: #152958;
  font-family: Arial, Helvetica, sans-serif;
  }