<link href="https://fonts.googleapis.com/css?family=Dosis" rel="stylesheet">
<ng-template #content let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">Confirmação</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <h1>{{ data }}</h1>
    <h2>{{ hora }}</h2>
    <hr>
    <p>Deseja mesmo confirmar seu agendamento?</p>
    <button type="button" class="btn btn-danger" (click)="c('Cancelar Click')">Cancelar</button>
    <button type="button" class="btn btn-success">Confirmar</button>
    <h4>PROCEDIMENTO AGENDADO:</h4> <p id="proc"> {{ procedimento }} </p>
  </div>
  <div class="modal-footer"></div>
</ng-template>

<button class="btn btn-outline-primary mb-2 mr-2" (click)="openVerticallyCentered(content)">Modal Confirmação</button>
