p {
    color: black;
    text-align: center;
    font-family: 'Orbitron', sans-serif;
    font-size: 300%;
    font-weight: 900;
    font-weight: bold;
}
.form-group {
    text-align: center;
}
button {
    color: white;
    background-color: cadetblue;
}
.duvidaS{
    position: fixed;
    left: 64%;
}
input[placeholder] {
    text-align: center;
 }