
.nav{
    overflow: hidden;
    background-color: #e8e8e8;
    position: fixed;
    bottom: 0;
    text-align: center;
    width: 101%;
    border: 1px solid #ccc; 
    left:0 ;
    z-index: 999;
}

.nav a {
    float: left;
    width: 25%;
    padding-top: 10px ;
    padding-bottom: 10px ;
    font-size: 16px;
    color: black;


}

.nav a i {
    margin-left: 1vh;
    font-size: 30px;
}

.active{
    background-color:rgba(0, 123, 140, 1) ;
}

.btn:hover {
    background-color:rgba(0, 123, 140, 0.6) ;
}

.active i {
    color: white;
}