<!--  bootstrap Input e botão -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<!--Link da fonte padrão, GOOGLE FONTS-->
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Orbitron" rel="stylesheet">    
<!--bootstrap botão -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script>
    $(document).ready(function(){
        $('[data-toggle="popover"]').popover();   
    });
    </script>
<!--Nav bar-->
<div id="nav" class="nav">
  <a id="bnt3" class="btn " href="" routerLink="./login-cpf"><i class="fas fa-user-alt"></i></a>
  <a id="bnt1" class="btn "  href="" routerLink="./agendadas"><i id="icon" class="fas fa-calendar-check"></i></a>
  <a id="bnt2" class="btn active" href="" routerLink="./agendamento"><i id="icon" class="fas fa-calendar-alt"></i></a>
  <a id="bnt3" class="btn " href="" (click)="logout()" routerLink="./login-cpf"><i id="icon" class="fas fa-sign-out-alt"></i></a>
</div>



<router-outlet></router-outlet>