<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Orbitron" rel="stylesheet">
<br> <br>
<div class="duvidaS"> <a title="Digite abaixo seu cartão SUS" data-toggle="popover" data-trigger="hover" data-content="">❔  </a></div>   
<p><b>S U S :</b></p>    
<div class="form-group">
        <div class="form-group">
            <br>
            <input [(ngModel)]="usuario.cardSus" type="text" name="cardSus" class="form-control" placeholder="Ex: 000.0000.0000.0000" 
            [textMask]="{mask: mask}">
        </div>
        <br>
        <button type="button" class="btn btn-primary btn-lg bt"
        (click)="submitLogin()">Confirmar</button>
</div>