.full {
	margin: 20px;
	margin-bottom: 100px;
}

#calendar {
	text-align: center;
}

.buttonClass {
	border-radius: 10px;
	background-color: blue;
	width: 10em;
	min-height: 5em;	
}

.procWrapper {
	display: flex;
	align-items: center;
	justify-content: center;
}

.listaProcedimentos {
	display: flex;
	flex-flow: column nowrap;
	align-items: center;
	justify-content: center;
	text-align: center;
	width: 100vw;
	height: 100vh;
	background-color: rgba(177, 186, 169, 1);
	position: fixed;
	top: 0;
	z-index: 9;
}

.procedimento {
	flex-flow: column nowrap;
	align-items: center;
	justify-content: center;	
	width: 80%;
	margin: 1vh;
	border: 2px black solid;
	background-color: #7c8467;
}

.procedimento .header {
	background-color: #94a3ba;
	width: 100%;
	border-bottom: 2px black solid;
}

.procedimento .content {
	width: 100%;
	height: 100%;
}

.horasDia {
	width: 100vw;
	height: 100vh;
	position: fixed;
	top: 0;
	background-color: lightblue;
}

.alert .close {
	width: 20px;
	height: 20px;
	margin-right: 1rem;
	float:right;
	background-color: red;
}

.dia-ocupado {
  background-color: pink !important;
}

.hidden {
	opacity: 0;
}

.horarioList {
	display: flex;
	flex-flow: row wrap;
	align-items: center;
	justify-content: flex-start;
	margin-top: 30px;
}

.horario {
	margin: 20px;
	border: 1px solid black;
	width: 10rem;
	text-align: center;
}

.ocupado {
	background-color: red;
}

.dark-modal .modal-content {
    background-color: #292b2c;
    color: white;
}
  
.dark-modal .close {
    color: white;
}

.light-blue-backdrop {
    background-color: #5cb3fd;
}

.modal-body{
  text-align:center;
  font-family: Arial, Helvetica, sans-serif;
}
    
h1 {
  color: #000000;
  font-family: 'Dosis', sans-serif;
  font-size: 3.75rem;
}
    
#proc{
  color: #152958;
  font-family: Arial, Helvetica, sans-serif;
}

.confirmModal {
  	position: fixed;
  	top: 0;
  	z-index: 999;
}