<div *ngIf="erro" style="text-align: center; width: 100vw; max-width: 100%;">
  Favor inicie a sessão para acessar esta página
</div>

<div *ngIf="!erro" class="full">
  <!--
  <mwl-demo-utils-calendar-header
    [(view)]="view"
    [(viewDate)]="viewDate"
    [locale]="locale">
  </mwl-demo-utils-calendar-header>
  -->
  <div class="row text-center">
    <div class="col-md-4">
      <div class="btn-group">
        <div
          class="btn btn-primary"
          mwlCalendarPreviousView
          [view]="view"
          [(viewDate)]="viewDate"
          (viewDateChange)="skipWeekends('back')">
          Anterior
        </div>
        <div
          class="btn btn-outline-secondary"
          mwlCalendarToday
          [(viewDate)]="viewDate">
          Hoje
        </div>
        <div
          class="btn btn-primary"
          mwlCalendarNextView
          [view]="view"
          [(viewDate)]="viewDate"
          (viewDateChange)="skipWeekends('forward')">
          Proximo
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <h3>{{ viewDate | calendarDate:(view + 'ViewTitle'):'pt' }}</h3>
    </div>
  </div>
  <br>

  <div id="calendar" [ngSwitch]="view">
    <button class="buttonClass fechar"
    (click)="toggleProcedimentos()">Mostrar procedimentos</button>
    <mwl-calendar-month-view
      *ngSwitchCase="'month'"
      [viewDate]="viewDate"
      [events]="events"
      [locale]="locale"
      [excludeDays]="excludeDays"
      (beforeViewRender)="beforeViewRender($event)"
      (dayClicked)="clickedDate = $event.day.date; toggleDia($event)">
    </mwl-calendar-month-view>
  </div>
</div>

<div class="procWrapper"
[ngClass]="{
'hidden': procHidden
}">
  <div class="listaProcedimentos">
    <button class="buttonClass fechar"
    (click)="toggleProcedimentos()">Voltar</button>
    <div *ngFor="let procedimento of procedimentos" class="procedimento">
          <div class="header">
            {{ procedimento.dia_semana | uppercase }}
          </div>               
        <div class="content">
          {{ procedimento.procedimento }}<br>
          {{ procedimento.horario_inicio }} ~ {{ procedimento.horario_fim }}<br>
          {{ procedimento.minutos_duracao }} minutos por procedimento
        </div>
    </div>    
  </div>
</div>

<div class="horasDia" [ngClass]="{
'hidden': diaHidden
}">
  <div class="alert alert-info">
    <strong *ngIf="clickedDate">Você está visualizando os horário do dia: {{ clickedDate | date:'dd/MM/y' }} &nbsp;&nbsp;&nbsp;&nbsp;||&nbsp;&nbsp;&nbsp;&nbsp; Procedimento do dia: {{ procedimento }}</strong>
    <span class="close" (click)="toggleDia()"></span>

  </div>
    <div class="horarioList">
      <button class="horario" id="{{ horario }}" *ngFor="let horario of horariosDia"
      (click)="openVerticallyCentered(content, $event)"> {{ horario }}</button>
    </div>  
</div>

<div class="confirmModal">
  <link href="https://fonts.googleapis.com/css?family=Dosis" rel="stylesheet">
  <ng-template #content let-c="close" let-d="dismiss">
    <div class="modal-header">
      <h4 class="modal-title">Confirmação</h4>
      <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <h1>{{ data }}</h1>
      <h2>{{ hora }}</h2>
      <hr>
      <p>Deseja mesmo confirmar seu agendamento?</p>
      <button type="button" class="btn btn-danger" (click)="c('Cancelar Click')">Cancelar</button>
      <button type="button" class="btn btn-success" (click)="confirmarConsulta(); c('Cancelar Click')">Confirmar</button>
      <h4>PROCEDIMENTO AGENDADO:</h4> <p id="proc"> {{ procedimento }} </p>
    </div>
    <div class="modal-footer"></div>
  </ng-template>
</div>